.body_background 
{
    background-position: center;
    background-size:contain;
	background:url("Grass.jpg");
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:rgb(106, 250, 10);
}


#hd3{
	display: inline-block;
	color: rgb(255, 0, 21);
	background-color: rgb(131, 136, 139);
	font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
